[
    {pooler, [
           {pools, [
                [{name, hbase_thrift},
                 {group, undefined},
                 {max_count, 1},
                 {init_count, 1},
                 {start_mfa,
                  {ehbase_agent, start_link, []}}]
               ]},
           {lock_timeout, 30000}
          ]},
    {ehbase, [
          {profile, true},
          {hbase_thrift_server, hbase_thrift},
          {hbase_thrift_ip,     "localhost"},
          {hbase_thrift_port,   9090},
          {hbase_thrift_params, [{framed, true}, {recv_timeout, 30000}]}
         ]}
].