[
	{pooler, [
		   {pools, [
			    [{name, hbase_thrift},
			     {group, undefined},
			     {max_count, 20},
			     {init_count, 10},
			     {start_mfa,
			      {ehbase_agent, start_link, []}}]
			   ]}
		   %% if you want to enable metrics, set this to a module with
		   %% an API conformant to the folsom_metrics module.
		   %% If this config is missing, then no metrics are sent.
		   %% {metrics_module, folsom_metrics}
		  ]}
].