[
	{pooler, [
		   {pools, [
			    [{name, hbase_thrift},
			     {group, undefined},
			     {max_count, 1},
			     {init_count, 1},
			     {start_mfa,
			      {ehbase_agent, start_link, []}}]
			   ]}
		   %% if you want to enable metrics, set this to a module with
		   %% an API conformant to the folsom_metrics module.
		   %% If this config is missing, then no metrics are sent.
		   %% {metrics_module, folsom_metrics}
		  ]},
	{ehbase, [
		  {profile, true},
	 	  {hbase_thrift_server, hbase_thrift},
	 	  {hbase_thrift_ip,     "localhost"},
	 	  {hbase_thrift_port,   9090},
	 	  {hbase_thrift_params, [{framed, true}]}
		 ]}
].