{app, [ehbase]}.
{erl_opts, [debug_info, {parse_transform, lager_transform}, {lager_truncation_size, 1024}]}.

{cover_enabled, true}.
{clean_files, ["ebin/*.beam", "priv/log/*"]}.

{deps_dir,["deps"]}.

{deps, [
  {lager, ".*", {git, "git://github.com/basho/lager.git", {branch, "master"}}},
  {pooler, ".*", {git, "git://github.com/seth/pooler.git", {tag, "1.4.0"}}},
  {jsx, "1.2.1", {git, "git://github.com/talentdeficit/jsx.git", {tag, "v1.2.1"}}},
  {sync, ".*", {git, "git://github.com/rustyio/sync.git", {branch, "master"}}}
]}.