{app, [ehbase]}.
{erl_opts, [debug_info, {parse_transform, lager_transform}, {lager_truncation_size, 1024}]}.

{cover_enabled, true}.
{clean_files, ["ebin/*.beam", "priv/log/*"]}.

{deps_dir,["deps"]}.

{deps, [
  {lager, ".*", {git, "git://github.com/basho/lager.git", {branch, "master"}}},
  {pooler, ".*", {git, "https://github.com/redink/pooler.git", {branch, "master"}}},
  { jsx, "1.2.1", {git, "git://github.com/talentdeficit/jsx.git", {tag, "v1.2.1"}}}
]}.